@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section,
header {
  padding: 0;
  margin: 0;
}

/* .myClass {
  @include typography("Josefin Sans", 700, 2rem, 1.5, #333);
}

.body-text {
  @include typography("Alata", 400, 1rem, 1.5, #666);
} */
/* QUERY FOR MOBILE FIRST */
html,
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(0, 0%, 86%);
}

main {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-bottom: 2rem;
  flex: 1 0 auto; /* This allows the main content to grow and shrink but not shrink smaller than its content */
  background-color: hsl(0, 0%, 86%);
}

.cardContainer {
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10rem;
  padding: 1.5rem;
  border-radius: 25px 25px 30% 25px;
  margin-bottom: 2rem;
  background-color: hsl(0, 0%, 100%);
}

.dateTopRow {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: hsl(0, 0%, 100%);
}
.dateTopRow__dateGrp {
  width: 5.5rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dateTopRow__label {
  width: 5.5rem;
  height: 2rem;
  display: flex;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 50%);
}
.dateTopRow__inputField {
  width: 5.5rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  text-align: center;
  border-radius: 7px 7px 7px 7px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.1;
  color: hsl(0, 0%, 0%);
  border: 3px solid hsl(0, 0%, 86%);
}
.dateTopRow__inputField:hover, .dateTopRow__inputField:focus {
  outline: none;
  border: 2px solid hsl(259, 100%, 65%);
}
.dateTopRow__inputField::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.1;
  color: hsl(0, 0%, 86%);
  opacity: 1; /* Ensure the opacity is set, as some browsers may apply a default lower opacity */
}
.dateTopRow__input-valid {
  border: 4px solid hsl(103, 99%, 31%);
}
.dateTopRow__inputLabel-error {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 100%, 50%);
}
.dateTopRow__input-error, .dateTopRow__input-error:focus {
  outline: hsl(0, 100%, 50%);
  border: 1px solid hsl(0, 100%, 50%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 100%, 50%);
}
.dateTopRow__errorWarning {
  width: 100%;
  color: hsl(0, 100%, 50%);
  font-size: 14px;
  text-align: left;
  margin-bottom: 14px;
  padding-right: 15px;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1.5;
  color: hsl(0, 100%, 50%);
}
.dateTopRow__hide {
  display: none;
}

.arrowLine {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3rem;
}
.arrowLine hr {
  width: 20rem;
  border: 1px solid hsl(0, 0%, 86%);
}
.arrowLine__arrow {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  background-color: hsl(259, 100%, 65%);
}
.arrowLine__arrow img {
  width: 2.5rem;
}
.arrowLine__arrow:hover, .arrowLine__arrow:focus {
  background-color: hsl(0, 100%, 67%);
}

.bigTitles {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: relative;
  transition: height 1.5s ease; /* Transition for height */
}
.bigTitles__bigTitle {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.1;
  color: hsl(0, 0%, 0%);
  font-style: oblique;
}
.bigTitles__coloredNumber {
  margin-right: 0.7rem;
  color: hsl(259, 100%, 65%);
  animation: spinUp 0.5s ease-in-out forwards;
}

@keyframes spinUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-20%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.attribution {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  top: 12rem;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  color: hsl(0, 0%, 50%);
}

.attribution a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

/* @media (min-width: 1024px) {
}
 */

/*# sourceMappingURL=styles.css.map */
